@font-face {
  font-family: 'MyradPro';
  src: url('fonts/MYRIADPRO-REGULAR.OTF');
}

/* Buttons Font */

@font-face {
  font-family: 'MyradPro SemiBold Condensed';
  src: url('fonts/MYRIADPRO-SEMIBOLDCOND.OTF');
}

/* Navigation Font */

@font-face {
  font-family: 'MyradPro Condensed';
  src: url('fonts/MYRIADPRO-COND.OTF');
}

/* Headers Font */

@font-face {
  font-family: 'MyradPro Bold';
  src: url('fonts/MYRIADPRO-BOLD.OTF');
}

/* SUbheaders Font */

@font-face {
  font-family: 'MyradPro Bold Cond';
  src: url('fonts/MYRIADPRO-BOLDCOND.OTF');
}

@font-face {
  font-family: 'MyradPro Bold Cond';
  src: url('fonts/MYRIADPRO-BLACKCOND.OTF');
}

body {
  height: 100%;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* -------- Navigation -------- */

/* -------- Blue Navbar -------- */

.navbar {
  font-family: 'MyradPro Condensed';
}

.navigation-right .navbar-nav {
  background-color: #0061af;
  padding: 7px 25px;
  letter-spacing: 1px;
}

.navigation-right .nav-link {
  color: #fff;
  font-weight: 400;
}

.language-link .nav-link {
  padding: 3px 5px 3px;
  background: #fff;
  color: #f5821f;
  margin-top: 8px;
  border-radius: 7px;
  line-height: unset;
  text-transform: uppercase;
  transition: 0.3s all;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0;
  font-size: 11px;
  font-weight: 600;
}

.language-link .nav-link:hover {
  background: #f5821f;
  color: #fff;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* -------- Navigation with a Logo -------- */

.default-nav .navbar-brand img {
  max-height: 50px;
  vertical-align: super;
  image-rendering: -moz-crisp-edges;
  /* Firefox */
  image-rendering: -o-crisp-edges;
  /* Opera */
  image-rendering: -webkit-optimize-contrast;
  /* Webkit */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
  /* IE */
}

.default-nav .nav-item:not(:last-child) {
  margin-right: 20px;
}

.default-nav .dropdown-toggle::after {
  display: none;
}

.default-nav .nav-link {
  color: #808080;
  font-size: 22px;
  font-weight: lighter;
}

.default-nav .navbar-container {
  border-bottom: 1px solid #ededed;
}

.nav-collapse-items {
  position: absolute;
  width: 100%;
  background: #fff;
  z-index: 99999;
  font-family: 'MyradPro Condensed';
}

.nav-collapse-items img {
  height: 100%;
}

.nav-collapse-items .d-flex ul {
  list-style: none;
  padding: 0 0 100px 0;
}

.nav-collapse-items .d-flex ul a {
  color: #808080;
  font-size: 18px;
}

.nav-collapse-items .d-flex ul a:hover {
  text-decoration: none;
}

#nav-item1 .d-flex ul {
  margin-left: 50px;
}

#nav-item2 .d-flex ul {
  margin-left: 150px;
}

#nav-item3 .d-flex ul {
  margin-left: 260px;
}

#nav-item4 .d-flex ul {
  margin-left: 370px;
}

/* -------- Mobile Navigation -------- */

#mySidenav.active {
  width: 300px;
}

#main.active-content {
  margin-left: -300px;
}

.active-navbar-toggler {
  margin-right: 235px;
}

#main {
  transition: margin-left .5s;
  height: 100%;
}

.mobile-navbar {
  background: #fff;
  display: inline!important;
}

.mobile-navbar .navbar-brand {
  padding: .7rem 0;
}

.mobile-navbar .open-close {
  z-index: 9999;
  float: right;
  transition: margin-right .5s;
  position: relative;
}

.mobile-navbar .open-close span {
  margin: 35px 35px 35px;
}

.mobile-navbar .navbar-brand img {
  max-height: 70px;
}

.sidenav {
  height: 100%;
  width: 0;
  position: absolute;
  z-index: 1;
  top: 73px;
  right: 0;
  background-color: #0061af;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 15px;
}

.sidenav a {
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .nav-item {
  padding-left: 15px;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 1px;
  margin-bottom: 0;
  font-family: 'MyradPro Bold Cond';
}

.sidenav .nav-item ul {
  list-style: none;
  padding-left: 0;
  font-weight: normal;
  font-size: 17px;
  font-family: 'MyradPro Condensed';
  line-height: 1.1;
}

.sidenav .nav-item a {
  color: #fff;
  padding-left: 30px;
}

@media (max-width: 1000px) {
  .navbar-container {
    display: none;
  }
}

@media (min-width: 1000px) {
  .mobile-navbar {
    display: none!important;
  }
}

/* -------- Hero Carousel -------- */

#carouselExampleIndicators {
  margin-bottom: 30px;
}

#carouselExampleIndicators .carousel-indicators {
  top: 30px;
  justify-content: flex-start;
  margin: 0;
  padding-left: 15px;
  padding-right: 15px;
}

.carousel-inner {
  max-height: 500px;
}

.carousel-indicators li {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: #f5821f;
}

.carousel-indicators li:hover {
  cursor: pointer;
}

.carousel-indicators li:not(:last-child) {
  margin-right: 20px;
}

.carousel-indicators .active {
  background-color: #fff;
}

.carousel-item:before {
  -webkit-box-shadow: inset 0 20rem 40rem rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 20rem 40rem rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
}

.carousel-caption {
  top: 50px;
  bottom: auto;
}

.carousel-caption h5 {
  color: #ffa70c;
  font-size: 34px;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 25px;
  font-family: 'MyradPro Bold';
}

.carousel-caption p {
  color: #fff;
  font-size: 18px;
  letter-spacing: 1.2px;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 50px;
  font-family: 'MyradPro Bold Cond';
}

/* -------- Homepage Button -------- */

.btn-primary {
  background: linear-gradient(#f6851e, #fcad18);
  color: #fff;
  padding: 15px 35px;
  font-size: 18px;
  border-radius: 7px;
  transition: background-color 0.5s ease;
  font-family: 'MyradPro SemiBold Condensed';
}

.btn-primary:hover {
  background: linear-gradient(#fcad18, #f6851e);
}

/* -------- Sections -------- */

.section-container {
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 500px;
  padding-top: 70px;
  box-shadow: inset 0 20rem 40rem rgba(0, 0, 0, 0.5);
}

.section_one {
  background-image: url('img/section-1.png');
  margin-bottom: 30px;
}

.section_two {
  background-image: url('img/section-2.png');
}

.section_text h5 {
  color: #f5821f;
  font-size: 34px;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 25px;
  font-family: 'MyradPro Bold';
}

.section_text p {
  color: #fff;
  font-size: 18px;
  letter-spacing: 1.2px;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 50px;
  text-transform: uppercase;
  font-family: 'MyradPro Bold Cond';
}

/* -------- 5 Boxes -------- */

.box-container {
  padding: 70px 0;
}

.box-container .row:nth-child(2) {
  margin-bottom: 100px;
}

.box-container h2 {
  color: #fcaf18;
  font-size: 26px;
  letter-spacing: 1px;
  font-weight: 600;
  font-family: 'MyradPro Bold';
}

.box-container h2:nth-child(1) {
  margin-bottom: 20px;
}

.box-container h2:nth-child(3) {
  margin-bottom: 60px;
}

.box {
  background-size: cover;
  background-repeat: no-repeat;
  height: 170px;
  max-width: 200px;
  padding: 10px;
}

.box:nth-child(1) {
  background-image: url('img/box-1.png');
}

.box:nth-child(2) {
  background-image: url('img/box-2.png');
}

.box:nth-child(3) {
  background-image: url('img/box-3.png');
}

.box:nth-child(4) {
  background-image: url('img/box-4.png');
}

.box:nth-child(5) {
  background-image: url('img/box-5.png');
}

.box-wrap {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  padding: 10px;
}

.box-wrap h5 a {
  color: #fff;
  font-size: 24px;
  font-weight: bolder;
  letter-spacing: 1px;
  font-family: 'MyradPro Bold Cond';
}

.box-wrap h5 a:hover {
  text-decoration: none;
}

/* -------- Logos -------- */

.logo-container img {
  max-height: 50px;
}

/* -------- Gray Container -------- */

.gray-container {
  background-color: #e6e6e6;
  padding: 30px 0;
}

.gray-container .col-lg-6 div {
  background-color: #f2f2f2;
  padding: 25px 35px;
}

.gray-container .col-lg-6 h5 {
  color: #0061af;
  font-size: 24px;
  font-weight: bold;
  font-family: 'MyradPro Bold';
}

.gray-container .col-lg-6 a {
  color: #4d4d4d;
  font-size: 17px;
  letter-spacing: 1.3;
  font-family: 'MyradPro Bold Cond';
}

.gray-container .col-lg-6 a:hover {
  text-decoration: none;
  color: #757575;
}

/* -------- Text Containers -------- */

.text-container {
  padding: 30px 0;
}

.text-container h4 {
  font-size: 17px;
  letter-spacing: 1.3;
  color: #000;
  font-weight: bold;
  font-family: 'MyradPro Bold Cond';
  margin-bottom: 15px;
}

.box-text {
  max-width: 200px;
  padding: 30px 15px 20px;
  background-color: #f2f2f2;
}

.box-text h5 {
  color: #f5821f;
  font-size: 24px;
  font-weight: bold;
  font-family: 'MyradPro Bold';
}

.box-text p {
  color: #4d4d4d;
  font-size: 16px;
  font-weight: bold;
  font-family: 'MyradPro Bold Cond';
}

/* -------- Blue Menu -------- */

.blue-menu {
  background-color: #0061af;
  padding: 50px 0;
  color: #fff;
}

.blue-menu ul {
  list-style: none;
}

.blue-menu h6 {
  font-family: 'MyradPro Bold Cond';
  font-size: 19px;
}

.blue-menu li {
  line-height: 1.2;
}

.blue-menu li a {
  color: #fff;
  font-family: 'MyradPro Condensed';
  font-size: 17px;
  letter-spacing: 0.5px;
}

.blue-menu li a:hover {
  text-decoration: none;
}

/* -------- White Footer -------- */

.footer {
  font-family: 'MyradPro Condensed';
}

.footer .container {
  padding: 50px 0;
}

.footer a {
  color: #000;
  font-size: 18px;
}

.footer a:hover {
  text-decoration: none;
}

.footer img {
  max-height: 50px;
  image-rendering: -moz-crisp-edges;
  /* Firefox */
  image-rendering: -o-crisp-edges;
  /* Opera */
  image-rendering: -webkit-optimize-contrast;
  /* Webkit */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
  /* IE */
}

/* -------- MOBILE FIXES -------- */

@media (max-width: 1199px) {
  .box-container .box:not(:last-child) {
    margin-bottom: 20px;
  }
  .logo-container div {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
  }
}

@media (min-width: 1000px) {
  .navigation-right .navbar-nav {
    margin-left: auto;
  }
}

@media (max-width: 999px) {
  .navigation-right {
    background-color: #0061af;
  }
  .navigation-right .navbar-nav {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 992px) {
  .default-nav {
    padding-top: 20px;
  }
  .gray-container .col-lg-6 {
    margin-bottom: 20px;
  }
  .text-container .box-text {
    margin-bottom: 20px;
  }
  .text-container h4 {
    text-align: center;
  }
  .blue-menu .col-lg-1 {
    margin-bottom: 20px;
  }
  .footer .col-6 {
    text-align: center;
  }
  .footer .col-lg-8 {
    display: none;
  }
}

@media (min-width: 992px) {
  /* blue footer */
  .blue-menu .col-lg-1 {
    flex: 0 0 14%;
    max-width: 14%;
  }
}

@media (max-width: 890px) {
  .carousel-item img {
    display: none!important;
  }
  .carousel-item {
    height: 500px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .carousel-item:nth-child(1) {
    background-image: url('img/slide-1.png');
  }
  .carousel-item:nth-child(2) {
    background-image: url('img/slide-2.png');
  }
  .carousel-item:nth-child(3) {
    background-image: url('img/slide-1.png');
  }
  .carousel-item:nth-child(4) {
    background-image: url('img/slide-2.png');
  }
  .carousel-caption h5 {
    font-size: 28px;
  }
  .carousel-caption p {
    margin-bottom: 20px;
  }
}

@media (max-width:767px) {
  .time-and-temp {
    margin-top: 50px;
  }
}

@media (max-width: 600px) {
  .navigation-right {
    font-size: 10px;
  }
  .navigation-right .mr-4 {
    margin-right: 0!important;
  }
  .navigation-right .navbar-nav {
    padding-left: 0!important;
    padding-right: 0!important;
  }
  .language-link .nav-link {
    margin-top: 5px;
    font-size: 10px;
  }
  .sidenav {
    top: 62px;
  }
}

/* --------------------- Page 1 --------------------- */

.header-hero {
  background-image: url('img/slide-2.png');
  height: 270px;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: inset 0 15rem 25rem rgba(0, 0, 0, 0.6);
  padding-top: 50px;
}

.header-hero h2 {
  color: #ffa70c;
  font-size: 30px;
  font-weight: 600;
  font-family: 'MyradPro Bold';
}

/* -------- Page Content -------- */

.page-content {
  padding-top: 50px;
  padding-bottom: 200px;
  font-family: 'MyradPro';
}

.page-content .breadcrumb {
  background-color: transparent;
}

.page-content .breadcrumb-item {
  font-size: 20px;
  font-family: 'MyradPro SemiBold Condensed';
}

.page-content .breadcrumb-item a {
  color: #808080;
}

.page-content .breadcrumb-item a:hover {
  text-decoration: none;
}

.page-content .breadcrumb-item+.breadcrumb-item::before {
  content: '>';
}

.page-content .breadcrumb-item.active {
  color: #f5821f;
}

.time-and-temp {
  background: #e6e6e6;
  border: 1px solid #999999;
  padding: 15px 5px;
  margin-bottom: 20px;
}

.time-and-temp h5 {
  color: #808080;
  font-size: 22px;
  font-family: 'MyradPro';
}

.page-content .page-content-text h5 {
  color: #f5821f;
  font-weight: bold;
  text-transform: uppercase;
}

.page-content .btn-secondary {
  background: #ccc;
  border: 1px solid #999999;
  font-size: 12px;
  padding: 4px 8px;
  border-radius: 0;
}

.page-content .btn-secondary:focus {
  box-shadow: none;
}

.page-content .page-content-text p {
  color: #000;
}

.page-content .col-lg-6 h6 {
  color: #fcaf18;
  font-size: 20px;
  font-weight: bold;
}

.page-content .youtube-section h5 {
  font-size: 16px;
  color: #000;
  font-weight: bold;
}

/* --------------------- Page 2 & Page 3 --------------------- */

.accordion-section {
  font-family: 'MyradPro';
}

.accordion-section .btn-primary {
  padding: 12px 30px;
}

#accordion-page .card {
  margin-bottom: 10px;
}

.accordion-section .accordion-header {
  background: #808080;
  color: #fff;
  transition: all 0.5s;
  padding: 10px 15px;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.5px;
}

.accordion-section .accordion-header:hover {
  background: #808080;
  text-decoration: none;
  cursor: pointer;
}

.accordion-section .collapsed {
  background: #bbbdbe;
}

#accordion-page .col-4 h5 {
  color: #f5821f;
  font-weight: bold;
  font-size: 22px;
  font-family: 'MyradPro SemiBold Condensed';
}

#accordion-page .col-4 ul {
  list-style: none;
  padding-left: 0;
}

/* --------------------- Page 3 --------------------- */

.schedule-page .card h4, .schedule-page .card h6 {
  color: #f5821f;
  font-size: 16px;
}

.schedule-page .card p span {
  color: #fcaf18;
}

.schedule-page .card a {
  color: #0061af;
}

.schedule-page .card a:hover, .members-page .d-flex a {
  text-decoration: none;
}

.schedule-page .card a.collapsed, .members-page .d-flex a.collapsed {
  background: none;
}

/* --------------------- Page 4 --------------------- */

.members-page {
  font-family: 'MyradPro';
}

.members-page h5 {
  color: #f5821f;
  font-size: 24px;
  margin-bottom: 40px;
  font-family: 'MyradPro SemiBold Condensed';
}

.members-page img {
  height: 100%;
}

.members-page p {
  color: #000;
}

.members-page h6 {
  color: #fcaf18;
  font-size: 22px;
  font-weight: bold;
  font-family: 'MyradPro SemiBold Condensed';
}

.members-page .collapse-wrap {
  border: 2px solid #bbbdbe;
  padding: 7px;
}
